<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shiningstar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login"></activity>
        <activity android:name=".RegisterUser" />
        <activity
            android:name=".Children"
            android:label="@string/title_activity_children" />
        <activity android:name=".Staff" />
        <activity android:name=".Parent" />
        <activity android:name=".Admin" />
        <activity android:name=".ForgotPass" />
        <activity android:name=".Sign_Up" />
        <activity android:name=".Sign_In" />
        <activity android:name=".Register_Staff" />
        <activity android:name=".Register_Parent" />
        <activity android:name=".Register_Admin" />
        <activity android:name=".Login_Staff" />
        <activity android:name=".Login_Parent" />
        <activity android:name=".Login_Admin" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>